*, *::before, **::after {
    box-sizing: border-box;
}


.edu-qld-beginner-font {
    font-family: "Edu QLD Beginner", serif;
    font-optical-sizing: auto;
    font-weight: 400 700;
    font-style: normal;
  }


.caveat-font {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 400 700;
    font-style: normal;
}

.update-controller {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/paper.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}


#intro {
    text-align: center;
}

#input-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: 1rem auto;
   
}

#title {
    margin-top: 1rem;
    width: 40%;
    padding: .5rem;
}

#input {
    padding: .5rem;
    width: 80%;
    max-width: 250px;
    resize: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}

.btn {
    width: 140px;
    margin: 0 auto;
    padding: .75rem;
    font-family: "Edu QLD Beginner", serif; 
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.125rem;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btn:hover {
    opacity: 0.7;
}

#notes {
    flex: 1 0 auto;
}

.to-do-list {
    
    background-image: url("images/cork.jpg");
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    overflow: auto;
    max-height: 100%;
    min-height: 140px;
    max-width: 450px;
    
    margin: 1rem auto;
    padding: 1rem;
}

.item {
    padding: .5rem;
    
    max-width: 220px;
    height: 80px;
    background-color: #FED800;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 2px;
}

.item textarea {
    font-family: "Caveat", serif;
    width: 82%;
    font-weight: 700;
    font-size: 1.175rem;
    resize: none;
}

.saveBtn, .cancelBtn {
    font-family: "Edu QLD Beginner", serif; 
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 2px;
}

.controller-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.saveBtn:hover, .cancelBtn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.deleteBtn:hover, .editBtn:hover {
    opacity: 0.7;
    cursor: pointer;
}

footer {
    margin-top: auto;
    padding: 1%;
   
}


/* Typography */

h1 {
    font-family: "Edu QLD Beginner", serif;
    font-size: 2.75rem;
    margin: 0;
    padding: 3%;
}

#date-el {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

#intro p {
    font-family: "Edu QLD Beginner", serif;
    font-weight: 500;
    font-size: 1.2rem; 
}

label {
    font-family: "Edu QLD Beginner", serif; 
    font-weight: 500;
    font-size: 1.125rem;
}

#built {
    text-decoration: none;
    color: black;
}

#built:hover {
    opacity: .7;
}



@media (min-width: 800px) {
    .container {
        display: flex;
        margin-left: 2%;
    }

    .to-do-list {
        min-width: 472px;
    }

    .inner-container {
        width: 40%;
    }
}

@media (min-width: 1000px) {
    .to-do-list {
        grid-template-columns: repeat(4, 1fr);
    }
}


